<div class="container mat-elevation-z8">
    <form [formGroup]="produtoForm" class="form">
        <h1 class="fullWidth">{{ isEditMode ? 'Atualizar Produto' : 'Cadastrar Produto' }}</h1>

            <mat-form-field appearance="legacy" class="fullWidth">
            <mat-label>Descrição</mat-label>
            <input name="descricao" formControlName="descricao" required matInput placeholder="Digite seu nome..."
            maxlength="50">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="fullWidth">
            <mat-label>Unidade</mat-label>
            <mat-select name="unidade" formControlName="unidade" required>
              <mat-option value="UN">UNIDADE</mat-option>
            </mat-select>
            <mat-icon matSuffix>tab</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="fullWidth">
            <mat-label>valor Custo</mat-label>
            <input type="text" 
             name="valor_custo" formControlName="valor_custo" 
             required  
             matInput
             placeholder="ex..: 0,00"  (keyup)="moeda('valor_custo',$event.target)">
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error *ngIf="produtoForm.get('valor_custo')?.invalid && (produtoForm.get('valor_custo')?.dirty || produtoForm.get('valor_custo')?.touched)">
              <span *ngIf="produtoForm.get('valor_custo')?.errors?.required">Valor é obrigatório.</span>
              <span *ngIf="produtoForm.get('valor_custo')?.errors?.min">O valor deve ser maior que zero.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="fullWidth">
            <mat-label>Valor Venda</mat-label>
            <input type="text"
            required
             name="valor_venda" 
             formControlName="valor_venda" 
             matInput placeholder="ex..: 0,00" (keyup)="moeda('valor_venda', $event.target)">
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error *ngIf="produtoForm.get('valor_venda')?.invalid && (produtoForm.get('valor_venda')?.dirty || produtoForm.get('valor_venda')?.touched)">
              <span *ngIf="produtoForm.get('valor_venda')?.errors?.required">Valor é obrigatório.</span>
              <span *ngIf="produtoForm.get('valor_venda')?.errors?.min">O valor deve ser maior que zero.</span>
            </mat-error>
          </mat-form-field>

          <button (click)="save()" [disabled]="!validaCampos()" class="fullWidth mat-elevation-z4" mat-raised-button color="primary">
            {{ isEditMode ? 'Atualizar' : 'Cadastrar' }}</button>
            <button routerLink="/produtos" class="fullWidth mat-elevation-z4" mat-raised-button color="warn">
                Cancelar</button>
    </form>
    <p class="fullWidth">
     By Daniel Gomes Moura   
    </p>
</div>