<div class="container mat-elevation-z8">
    <form [formGroup]="pagamentoForm" class="form">
        <h1 class="fullWidth">{{ isEditMode ? 'Atualizar Pagamento' : 'Cadastrar Pagamento' }}</h1>

        <mat-form-field color="accent">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker1" readonly="true" [matDatepickerFilter]="dateFilter" formControlName="data_registro_pagamento" >
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          
        <mat-form-field  class="fullWidth">
            <mat-label>Tipo de Pagamento</mat-label>
            <mat-select formControlName="tipo_recebimento_fk">
                <mat-option *ngFor="let tipo_Recebimento of tipo_Recebimento" [value]="tipo_Recebimento.id">
                    {{ tipo_Recebimento.tipo }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field  id="valor_pagamento">
            <mat-label>Valor Pagamento</mat-label>
            <input type="text" name="valor_pagamento" formControlName="valor_pagamento"
             matInput (keyup)="moeda('valor_pagamento',$event.target)"
            (keyup)="validarPagamento()">
            <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>

        <mat-form-field  class="fullWidth">
            <mat-label>valor_total</mat-label>
            <input type="text" 
             name="valor_total" 
             formControlName="valor_total" 
             readonly="true" 
             matInput
             placeholder="ex..: 0,00">
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>

        <button (click)="save()" [disabled]="!validaCampos() || !valoresIguais" class="fullWidth mat-elevation-z4" mat-raised-button
            color="primary">Cadastrar</button>
        <button routerLink="/pedidos" class="fullWidth mat-elevation-z4" mat-raised-button color="warn">
            Cancelar</button>
    </form>
    <p class="fullWidth">
        By Daniel Gomes Moura
    </p>
</div>