.container{
    height: 100%;
}

.sidenav{
    width: 13rem;
    background: linear-gradient(180deg, rgba(83,85,212,1) 0%, rgba(82,69,162,1) 22%, rgba(59,195,222,1) 100%);
}

.sidenav mat-icon {
    margin-right: .6rem;
    color: white;
}

.img{
 color: red;
}

.cor{
    color: white;
}

.menu {
margin: 1rem auto auto 1rem;
color: white;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}