<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/home">
         <mat-icon matListItemIcon>home</mat-icon>
         <span class="cor">Home</span>
      </a>
            <a mat-list-item routerLink="/clientes">
               <mat-icon matListItemIcon>person</mat-icon>
               <span class="cor">Cliente</span>
            </a>
         <a mat-list-item routerLink="produtos">
            <mat-icon matListItemIcon>inbox</mat-icon>
            <span class="cor">Produtos</span>
         </a>
         <a mat-list-item routerLink="contas">
            <mat-icon matListItemIcon>account_balance</mat-icon>
            <span class="cor">Contas</span>
         </a>
         <a mat-list-item routerLink="recebimentos">
            <mat-icon matListItemIcon>credit_card</mat-icon>
            <span class="cor">Recebimentos</span>
         </a>
         <a mat-list-item routerLink="movimentos">
            <mat-icon matListItemIcon>swap_vert</mat-icon>
            <span class="cor">Movimentos</span>
         </a>
         <a mat-list-item routerLink="pedidos">
            <mat-icon matListItemIcon>receipt</mat-icon>
            <span class="cor">Pedidos</span>
         </a>
         <a mat-list-item routerLink="rank">
            <mat-icon matListItemIcon>list_alt</mat-icon>
            <span class="cor">Ranking</span>
         </a>
         <a mat-list-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span class="cor">Logout</span>
         </a>
        </mat-nav-list>
    </mat-drawer>
    <div class="sidenav-content">
        <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
        <app-header></app-header>
      
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>