.container {
    height: 100%;
    background-image: url('/assets/images/imagem-relatorio.svg');
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo do card */
    background-position: center; /* Centraliza a imagem no card */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    padding-top: 2rem;
}

  table {
      width: 100%;
  }

#form {
    width: 60%;
    margin: auto;
    padding: 1rem 1rem;
    background: transparent;
    border-radius: 1rem;
    backdrop-filter: blur(20px);
}

 .text-center {
     text-align: center;
 }

 table{
        background: transparent;
        width: 100%;
 }

 h1{
    font-size: x-large;
 }

 h3{
    margin-top: -1rem;
 }

h1,h3{
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: rgb(66, 64, 64);
}

th,td{
    color: rgb(66, 64, 64);;
    font-size: medium ;
    font-weight: 500;
}